[Unit]
Description=RSSBOT - display rss feeds in your irc channel
After=network-online.target
Wants=network-online.target
 
[Service]
ExecStart=/usr/local/bin/rssbot
 
[Install]
WantedBy=multi-user.target
